/* GiveReviews.css */

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form {
    max-width: 400px; /* Set a maximum width for the form */
    margin: auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Take the full height of the viewport */
  }
  
  .warning {
    color: red;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  button[type="submit"] {
    background-color: #3498db; /* Change the button color to blue */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9; /* Darker shade of blue on hover */
  }
  